@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  background-image: url("src/assets/pexels-monstera-production-7794364.jpeg");
}

.push-pin {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: red;
}

.outer-pin {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: darkred;
}

/* carousel functionality */
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-5420px);
  }
}

.carousel-container{
  overflow: hidden;
}

.carousel {
  display: flex;
  white-space: nowrap;
  animation: 30s slide infinite linear;
}

.carousel img{
  margin: 20px;
}

/* track borders */
.outer-shell {
  border-style: dashed;
  border-width: 2px;
  border-color: black;
  height: 100%;
}

.mid-shell {
  padding: 3px;
  background-color: black;
  height: 100%;
}

.inner-shell {
  border-style: dashed;
  border-width: 3px;
  border-color: black;
  height: 100%;
}

