@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  background-image: url("src/assets/pexels-monstera-production-7794364.jpeg");
}

.pin-surround {
  margin: 8px;
}


.inner-left-pin {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: red;
}

.outer-left-pin {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: darkred;
}

.inner-right-pin {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: red;
}

.outer-right-pin {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: darkred;
}

.sticky-note {
  box-shadow: 10px 10px 5px rgb(0,0,0,.4);
}

h1, h2, h3, h4, h5, a {
  font-family: "Alkatra", system-ui;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* carousel functionality */
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-5420px);
  }
}

.carousel-container{
  overflow: hidden;
  background-color: white;
  box-shadow: 10px 10px 5px rgb(0,0,0,.4);
}

.carousel {
  display: flex;
  white-space: nowrap;
  animation: 30s slide infinite linear;
}

.carousel img{
  margin: 20px;
}

/* track borders */
.outer-shell {
  border-style: dashed;
  border-width: 2px;
  border-color: black;
}

.mid-shell {
  padding: 3px;
  background-color: black;
}

.inner-shell {
  border-style: dashed;
  border-width: 3px;
  border-color: black;
}

